.home{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#background-video{
    width: inherit;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
}

.home-page{
    padding: 70px;
    box-sizing: border-box;
}

.mute-btn{
    display: flex;
    justify-content: flex-end;
}

.mute-btn button {
    padding: 20px;
    background: #D9D9D9;
    border-radius: 50%;
    border: unset;
    display: flex;
}

.circle{
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 50%;
    display: inline-block;
}

.soon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 90px;
    height: calc(100vh - 300px);
    position: relative;
}

.contact{
    position: absolute;
    left: 100px;
    top: 150px;
}

.contact button {
    padding: 15px;
    background: #D9D9D9;
    border: unset;
    display: flex;
    position: absolute;
    top: 110px;
}

.contact-text{
    font-size: 16px;
    position: absolute;
    top: 150px;
    left: 20px;
    width: 150px;
}

.contact-primary{
    color: #27879C;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 60px;
}

.home-page__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coords{
    position: absolute;
    left: 0;
    top: 332px;
    font-size: 16px;
    margin-top: 30px;
}

.coords-text{
    width: 220px;
    display: flex;
    justify-content: space-around;
}

.coords-line{
    width: 300px;
    height: 1px;
    background: #fff;
    margin-top: 20px;
}